{
  "root": false,
  "parserOptions": {
    "project": "../tsconfig.test.json"
  },
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "import/no-internal-modules": "off"
  }
}
